[Desktop Entry]
Version=1.0
Type=Application
Name=MQTT Explorer
Comment=An all-round MQTT client that provides a structured topic overview
Exec=/usr/bin/mqtt-explorer
Icon=mqtt-explorer-icon
Terminal=false
Categories=Network;Utility;
